
@{
    ViewBag.Title = "Home";
}
<div class="container row">
    <div class="col-lg-8 col-md-7" style="background-color:white">
        <div class="container ">
            <div class="row">
                <h3>Publica una oferta</h3>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="">
                        <div class="">
                            <form>
                                <textarea placeholder="Información"></textarea>
                                <button type="submit" class="btn btn-success">Share</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="row">
            <div class="col-12">
                <h5>Sugeridos</h5>
                <div style="height:182px;">

                    <div class="img-thumbnail text-center" style="overflow:hidden;width:120px;float:left">
                        <span class="snall">Andrea Anaya</span>
                        <img src="~/Content/as.jpg" alt="Imagen del perfil" style="max-height:80px;min-height:100px" />
                        <button class="btn btn-primary p-1">Follow</button>
                    </div>

                    <div class="img-thumbnail text-center" style="overflow:hidden;width:120px">
                        <span class="snall">Andrea Anaya</span>
                        <img src="~/Content/as.jpg" alt="Imagen del perfil" style="max-height:80px;min-height:100px" />
                        <button class="btn btn-primary p-1">Follow</button>
                    </div>

                </div>
            </div>
            <div class="col-12 row contactos">
                <div class="col-12">
                    <h6>Contactos</h6>
                </div>
                <a href="#" class="col-12 my-1 contacto">
                    <img src="~/Content/as.jpg" alt="Alternate Text" style="width:50px;height:50px;border-radius:100%" />
                    <span>Nombre de usuario</span>
                </a>

                <a href="#" class="col-12 my-1 contacto">
                    <img src="~/Content/as.jpg" alt="Alternate Text" class="imgContacto" />
                    <span>Nombre de usuario</span>
                </a>

                <a href="#" class="col-12 my-1 contacto">
                    <img src="~/Content/as.jpg" alt="Alternate Text" class="imgContacto" />
                    <span>Nombre de usuario</span>
                </a>

                <a href="#" class="col-12 my-1 contacto">
                    <img src="~/Content/as.jpg" alt="Alternate Text" class="imgContacto" />
                    <span>Nombre de usuario</span>
                </a>

                <a href="#" class="col-12 my-1 contacto">
                    <img src="~/Content/as.jpg" alt="Alternate Text" class="imgContacto" />
                    <span>Nombre de usuario</span>
                </a>

            </div>
        </div>
    </div>

</div>

