
@{
    ViewBag.Title = "Perfil";
}

<div class="container-fluid row pt-4">
    <div class="col-lg-3 col-md-5 col-sm-12 text-center">
        <div class="row justify-content-center rounded" style="min-width:281px;background-color:white;border:1px solid #ccc">

            <div class="col-12 mt-1">
                <div class="my-2">
                    <span class="card-title h2">johndoe</span>
                </div>
                <div class="img-thumbnail" style="overflow:hidden">
                    <img src="~/Content/andre.jpg" alt="Imagen del perfil" style="max-height:240px;min-height:230px" />
                </div>
            </div>

            <div class="my-2">
                <span class="h5">Infomarción</span>
            </div>

            <div class="col-12">
                <hr class="my-0" />
            </div>

            <div class="mt-2 col-12">
                <div class="py-2 my-1 trabajoPlantilla">
                    <span class="text-muted mr-2">Nombre:</span>
                    <span id="name">Jhon</span>
                </div>
                <div class="py-2 my-1 trabajoPlantilla">
                    <span class="text-muted mr-2">Apellido:</span>
                    <span id="lastName">Doe</span>
                </div>
                <div class="py-2 my-1 trabajoPlantilla">
                    <span class="text-muted mr-2">Email:</span>
                    <span id="email">johndoe@linkedin.com</span>
                </div>
                <div class="py-2 my-1 trabajoPlantilla">
                    <span class="text-muted mr-2">Carrera:</span>
                    <span id="carrer">Ingenieria de Sistemas</span>
                </div>
                <div class="py-2 my-1 trabajoPlantilla">
                    <span class="text-muted mr-2">Semestre:</span>
                    <span id="semester">6</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">
       <div class="row">

           <div class="container">

               <div class="col-12">
                   <h3>Trabajos</h3>
               </div>
               <div>
                   <hr class="my-0"/>
               </div>
               <div class="col-12 my-3">
                   <h5>Agregar trabajo</h5>
                   <form class="form-group row">
                       <div class="col-md-6">
                           <label>Compañía</label>
                           <input class="form-control" type="text" name="name" value="" />
                       </div>
                       <div class="col-md-6">
                           <label>Cargo</label>
                           <input class="form-control" type="text" name="name" value="" />
                       </div>
                       <div class="col-md-6">
                           <label>Desde</label>
                           <input class="form-control" type="date" name="name" value="" />
                       </div>
                       <div class="col-md-6">
                           <label>Desde</label>
                           <input class="form-control" type="date" name="name" value="" />
                       </div>
                       <div class="col-12 my-2">
                           <button class="btn btn-outline-dark" type="submit">Agregar</button>
                       </div>
                   </form>
               </div>
               <div style="height:340px;overflow:scroll">
                   <!--Plantilla trabajos-->
                   <div class="my-3 trabajoPlantilla">
                       <div class="ml-2">
                           <span class="h4">Google</span>
                           <p>Administrador de proyectos</p>
                           <span class="text-muted">desde:</span><span class="small">21/Oct/2011</span><span class="text-muted ml-4">hasta:</span><span class="small">Atual</span>
                       </div>
                   </div>

                   <div class="my-3 trabajoPlantilla">
                       <div class="ml-2">
                           <span class="h4">Microsoft</span>
                           <p>Jefe de Bill Gates</p>
                           <span class="text-muted">desde:</span><span class="small">2/Ago/2008</span><span class="text-muted ml-4">hasta:</span><span class="small">30/Dic/2011</span>
                       </div>
                   </div>

                   <div class="my-3 trabajoPlantilla">
                       <div class="ml-2">
                           <span class="h4">Apple</span>
                           <p>EL que inspiraba a Steve Jobs</p>
                           <span class="text-muted">desde:</span><span class="small">7/May/2006</span><span class="text-muted ml-4">hasta:</span><span class="small">1/Ago/2008</span>
                       </div>
                   </div>

                   <div class="my-3 trabajoPlantilla">
                       <div class="ml-2">
                           <span class="h4">Google</span>
                           <p>Administrador de proyectos</p>
                           <span class="text-muted">desde:</span><span class="small">21/Oct/2011</span><span class="text-muted ml-4">hasta:</span><span class="small">Atual</span>
                       </div>
                   </div>

                   <div class="my-3 trabajoPlantilla">
                       <div class="ml-2">
                           <span class="h4">Microsoft</span>
                           <p>Jefe de Bill Gates</p>
                           <span class="text-muted">desde:</span><span class="small">2/Ago/2008</span><span class="text-muted ml-4">hasta:</span><span class="small">30/Dic/2011</span>
                       </div>
                   </div>

                   <div class="my-3 trabajoPlantilla">
                       <div class="ml-2">
                           <span class="h4">Apple</span>
                           <p>EL que inspiraba a Steve Jobs</p>
                           <span class="text-muted">desde:</span><span class="small">7/May/2006</span><span class="text-muted ml-4">hasta:</span><span class="small">1/Ago/2008</span>
                       </div>
                   </div>

               </div>
           </div>
       </div>
    </div>
</div>

